{{#each beforeTodayCombinedData}}
  <div class="user-puzzle-info{{#if this.userData.solved}} solved-puzzle{{/if}}">
    <h3><a href="/game/{{this.id}}">{{this.id}}</a></h3>
    <h1 id="profile-puzzle-words">{{this.games.compoundled}}</h1>
    {{!-- <h3>Time: {{this.time}} seconds</h3>
    <h3>Number of Attempts: {{this.number_of_attempts}} </h3> --}}
    {{#if this.userData.solved}}

    {{else}}
      <a href="/game/{{this.id}}"></a>
    {{/if}}
  </div>
{{/each}}