<div class="rearranger">
  <div id="how-to-play">
    <h3>Rearrange the words below to form a chain of compound words</h3>
  </div>
  <h3>Level {{level}} | <span id="points-line">{{points}}</span> Points</h3>

  <div id="imageListId">
    {{#each wordsArray}}
      <div id="blockno{{@index}}" class="listitemClass">
        {{#if this}}
          <h2>{{this}}</h2>
        {{else}}
          <h2><input id="guess-box" /></h2>
        {{/if}}
      </div>
    {{/each}}
  </div>
  {{#if score}}
    <div id="score-div">Current Score:
      <span id="score-line">{{score}}</span></div>
  {{else}}
    <div id="score-div">Current Score:
      <span id="score-line">Log in to save score</span></div>
  {{/if}}
  <div id="outputDiv">
    <input id="outputvalues" type="text" value="" />
    <button id="submit-button">Check</button>
  </div>

  <div id="correct-order" class="hidden">{{correctOrder}}</div>
  <div id="blank-word" class="hidden">{{blankWord}}</div>
  <div id="current-level" class="hidden">{{level}}</div>
  <div id="user-id-line" class="hidden">{{userId}}</div>

  <div id="results-container"></div>

</div>

<script src="/js/script.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"
></script>