<div class="rearranger">
  <div id="how-to-play">
    <h3 id="how-to-play-instructions">Rearrange the words below to form a chain
      of compound words</h3>
  </div>
  <h3>Puzzle {{level}} | <span id="upload-date-span">{{uploadDate}}</span></h3>
  <h3><span id="points-line" class="hidden">{{points}}</span></h3>

  <div id="imageListId">
    {{#each wordsArray}}
      <div id="blockno{{@index}}" class="listitemClass">
        {{#if this}}
          <h2>{{this}}</h2>
        {{else}}
          <h2><input id="guess-box" class="guess-box" /></h2>
        {{/if}}
      </div>
    {{/each}}
  </div>
  <div>Time Elapsed: <span id="timer-span">0</span></div>
  <div>Number of Attempts: <span id="number-of-attempts-span">0</span></div>
  {{#if score}}
    <div id="score-div" class="hidden">Current Score:
      <span id="score-line" class="hidden">{{score}}</span></div>
  {{else}}
    <div id="score-div" class="hidden">Current Score:
      <span id="score-line" class="hidden">Log in to save score</span></div>
  {{/if}}
  <div id="outputDiv">
    <input id="outputvalues" type="text" value="" />
    <button id="submit-button">Check</button>

  </div>

  <div id="correct-order" class="hidden">{{correctOrder}}</div>
  <div id="blank-word" class="hidden">{{blankWord}}</div>
  <div id="current-level" class="hidden">{{level}}</div>
  <div id="user-id-line" class="hidden">{{userId}}</div>
  <div id="username-line" class="hidden">{{username}}</div>

  <div id="results-container"></div>

</div>

<script src="/js/script.js"></script>